# .gitlab-ci.yml

stages:
  - build
  - deploy

variables:
  DOCKER_IMAGE: "$CI_REGISTRY_IMAGE:latest"

build:
  stage: build
  image: docker:latest
  services:
    - docker:dind
  script:
    - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"
    - docker build -t "$DOCKER_IMAGE" .
    - docker push "$DOCKER_IMAGE"
  only:
    - master

deploy:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add --no-cache openssh
  script:
    - |
      # Генерируем .env из CI/CD переменных
      echo "AMPLITUDE_CLIENT_ID=$AMPLITUDE_CLIENT_ID" > .env
      echo "AMPLITUDE_SECRET_ID=$AMPLITUDE_SECRET_ID" >> .env
      echo "AWS_ACCESS_KEY_ID=$AWS_ACCESS_KEY_ID" >> .env
      echo "AWS_SECRET_ACCESS_KEY=$AWS_SECRET_ACCESS_KEY" >> .env
      echo "AWS_DEFAULT_REGION=$AWS_DEFAULT_REGION" >> .env
      echo "S3_ENDPOINT_URL=$S3_ENDPOINT_URL" >> .env
      echo "S3_BUCKET_NAME=$S3_BUCKET_NAME" >> .env
      echo "DEBUG=$DEBUG" >> .env
      scp -o StrictHostKeyChecking=no .env $SSH_USER@$SSH_HOST:/root/.env
      ssh -o StrictHostKeyChecking=no $SSH_USER@$SSH_HOST << EOF
        docker pull $DOCKER_IMAGE
        docker stop dwh-helper || true
        docker rm dwh-helper || true
        docker run -d --name dwh-helper --env-file /root/.env -p 8000:8000 $DOCKER_IMAGE
      EOF
  only:
    - master
